@media only screen and (min-width: 768px){
* {
    padding: 0;
    margin: 0;
}
.fullBox {
    display: flex;
    flex-direction: column;
}

/*First box*/
#backMain {
  background-image: url(/Home-page/General-img/back-main.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 16%;
  margin-left: 20%;
  margin-right: 20%;
}

.main h1,
.main p {
  color: white;
}

/*Second box*/

.middle {
  background-color: #F0F3F9;
  max-width: 100%;
  height: 100%;
  text-align: center;
}
.middle img {
  max-width: 100%;
  height: 100%;
}

/*Third box*/
#backBottom {
  background-image: url(/Home-page/General-img/back-bottom.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5% 20%;
}

.container img {
  max-width: 100%;
}
}