@media only screen and (max-width:425px) {
    * {
        padding: 0;
        margin: 0;
    }

    /*Container starts here and interfere all the page*/
    .fullBox {
        display: flex;
        flex-direction: column;
    }

    /*Main container*/
    #backMain {
        background-image: url(/Home-page/General-img/back-bottom.jpg);
        background-repeat: repeat;
        background-size: 100%;
        max-width: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 16%;
        margin-left: 20%;
        margin-right: 20%;
        background-color: rgba(255, 255, 255, 0.7);
    }

    h1, h2, h5 {
        color: #164E87;
    }

    p {
        color: #3D90E3;
    }

    /*Middle container*/
    .middle {
        background-color: #F0F3F9;
        max-width: 100%;
        height: 100%;
        text-align: center;
    }
    .middle2{
    text-align: center;
    margin-left: 20px;
    margin-right: auto;
    }
    .middle2 img{
    max-width: 25%;
    height: auto;
    }
    .middleFormContainer{
    display: flex;
    align-content: center;  
    
    }

    .row {
      margin: 10%;
    }

    /*Bottom container*/
    #backBottom {
        background-image: url(/Home-page/General-img/back-bottom.jpg);
        background-repeat: repeat;
        background-size: 100%;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 5%;
    }

    .container img {
        max-width: 100%;
    }
    
    .bottom>.card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px
    }
}