* {
    padding: 0;
    margin: 0;
}
.fullBox {
    display: flex;
    flex-direction: column;
}

/*First box*/
#backMain {
  background-image: url(/Home-page/back-main.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 16%;
  margin-left: 20%;
  margin-right: 20%;
}

.main h1,
.main p {
  color: white;
}

/*Second box*/
#backCenter {
  background-color: #F0F3F9;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5% 20%;
}