* {
    padding: 0;
    margin: 0;
}

/*Container starts here and interfere all the page*/
.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 60px;
    border: 1px solid black;
}

button {
    width: 60px;
}

/*First box*/
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.steps {
    display: flex;
    flex-direction: row;
}

.box {
    width: 350px;
    height: 500px;
    border: 1px solid black;
}

.box img {
    width: 250px;
    height: 200px;
}

.find {
    margin: 5%;
}

/*Second box -Maps- */
.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

/*Contact information form on top of the Google Maps*/
#wrap {
    position: relative;
}

iframe {
    width: 900px; 
    height: 480px;
}

#overmaps {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
}

/*Third box -Testimonial- */
.bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.testimonial {
    width: 1057px;
    height: 350px;
    border: 1px solid black;
}

.testimonial img {
    width: 200px;
    height: 175px;
}

#box1 {
    text-align: left;
    padding: 10px;
}
#box2 {
    text-align: right;
    padding: 10px;
}
#box3 {
    text-align: left;
    padding: 10px;
}

/*Last box -Footer- */
.footer {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 200px;
    border: 1px solid black;
}